body{
    background-image: url(/Imagenes.html/fondoMenu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;

}

.logoimg{
    width: 125px ;
    height: 125px;
    z-index: 1;
    top: 1%; right: 44%;
    position: relative;


}


.boton1{

    color: white;
    position: absolute; top: 11%; right: 52%;
    border: 2px solid #000; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    z-index: 1;
        
}

.boton2{

    color: white;
    position: absolute; top: 11%; right: 42%;
    border: 2px solid #000; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    z-index: 1;
}

.boton3{

    color: white;
    position: absolute; top: 11%; right: 27%;
    border: 2px solid #000; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    z-index: 1;     
}

.barramenu{
    background: #a7d6ff;
    border: 1px ridge #a7d6ff;
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0%;
    z-index: 0;

}

