body{
    background-image: url(/Imagenes.html/fondoCorrea.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}

.barramenucorrea{
    background: #a7d6ff;
    border: 1px ridge #a7d6ff;
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0%;
    z-index: 0;

}